<div class="forgot_password">
  <div class="forgot_password__main">
    <h3 class="forgot_password__main__label">Quên mật khẩu</h3>
    <p class="forgot_password__main__describe">Vui lòng nhập email hoặc số di động để tìm kiếm tài khoản của bạn.</p>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="forgot_password__main__form">
      <div class="form-group">
        <input class="form-control" id="email" name="email" placeholder="Nhập Email của bạn" type="email" formControlName="email">
        <app-field-error-display
          [displayError]="isFieldValid('email')"
          errorMsg="Vui lòng nhập email và đúng định dạng">
        </app-field-error-display>
      </div>
      <div class="form-btn">
        <a [routerLink]="'/login'" class="btn-exit" type="submit">Huỷ</a>
        <button class="btn-submit" type="submit">Tìm kiếm</button>
      </div>
    </form>
  </div>
</div>
