<div class="login-container">
  <header class="login__header">
    <div class="login__header__left">
      <img alt="logo" src="assets/FB-logo.svg"/>
      <h2>
        Facebook giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của
        bạn.
      </h2>
    </div>
    <div class="login__header__right">
      <mat-card class="login__header__right__card">
        <mat-card-content class="login__header__right__card__content">
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="login__form">
            <input
              name="email"
              placeholder="Email hoặc số điện thoại"
              type="text"
              formControlName="email"
            />
            <app-field-error-display
              [displayError]="isFieldValid('email')"
              errorMsg="Vui lòng nhập email và đúng định dạng">
            </app-field-error-display>
            <input
              name="password"
              placeholder="Mật khẩu"
              type="password"
              formControlName="password"
            />
            <app-field-error-display
              [displayError]="isFieldValid('password')"
              errorMsg="Vui lòng nhập mật khẩu">
            </app-field-error-display>
            <button
              class="login-button"
              type="submit"
            >
              Đăng nhập
            </button>
          </form>

          <a [routerLink]="'/forgot-password'">Quên mật khẩu?</a>
          <div class="line">
            <div></div>
            <div class="text-line">Hoặc</div>
            <div></div>
          </div>
          <div class="other-login">
            <button
              (click)="loginGoogle()"
              class="other-login__google">
              <span class="icon-google">
                <img src="assets/google-icon.png" alt="">
              </span>
              <span class="text-google">Google</span>
            </button>
          </div>
          <button (click)="openRegister()" class="create-account">
            Tạo tài khoản mới
          </button>
        </mat-card-content>
      </mat-card>

      <p class="tagline">
        <strong> Tạo Trang </strong>dành cho người nổi tiếng, thương hiệu hoặc
        doanh nghiệp.
      </p>
    </div>
  </header>

  <footer class="login__footer">
    <img alt="footer" src="assets/FB-footer.png"/>
  </footer>
</div>
